---
import Bio from "@/components/Bio.astro";
import PageLayout from "@/layouts/Base.astro";
import { createReader } from '@keystatic/core/reader';
import keystaticConfig from '../../keystatic.config';
import Testimonials from '@/components/Testimonials.astro';
import InfoBlock from "@/components/InfoBlock.astro";
import Faqs from "@/components/Faqs.astro";
import PhotoSection from "@/components/PhotoGallery.astro"
const meta = {
	description: "Photos",
	title: "Photos",
  ogImage: ""
};

const reader = createReader(process.cwd(), keystaticConfig);
const photoSettings = await reader.singletons.photoSettings.read();
const showBioOnPhotos = photoSettings?.showBioOnPhotos ?? false;
const showTestimonialsOnPhotos = photoSettings?.showTestimonialsOnPhotos ?? false;
const showFaqsOnPhotos = photoSettings?.showFaqsOnPhotos ?? false;

let selectedPitch;
if (photoSettings?.pitch) {
  selectedPitch = await reader.collections.pitches.read(photoSettings.pitch);
}

---


<PageLayout
  meta={meta}
  title={meta.title}
  description={meta.description}
  articleDate={new Date().toISOString()}
  ogImage={meta.ogImage}
>

<div style="position:relative">
  <PhotoSection class="mx-auto" />

  {selectedPitch && photoSettings && <InfoBlock pitch={{...selectedPitch, slug: photoSettings.pitch ?? ''}} />}
  
  {showBioOnPhotos && <Bio />}

  {showFaqsOnPhotos && (
    <section class="w-screen mx-auto backdrop-blur-xl py-20">
      <div class="nameblock mx-auto pb-8 pr-4 content-center grid text-left justify-center items-center text-[clamp(1rem,1.8vw,3.2rem)]">
        <Faqs />
      </div>
    </section>
  )}

  {typeof showTestimonialsOnPhotos !== 'undefined' && showTestimonialsOnPhotos && (
    <section class="testimonials-section">
      <Testimonials />
    </section>
  )}
  

  


</div>
</PageLayout>
</PageLayout>








