---
import PageLayout from "@/layouts/Base.astro";
---
<style>
  .backer {
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    display: grid;
    place-content: center;
    height: 100vh;
    align-content: center;
  }
</style>
<PageLayout title="Thank You" description="Thank you for contacting us">
  <div class="backer">
    <h1>Thank you for contacting us</h1>
  </div>
</PageLayout>