---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Open Twitter or X",
	title: "PIRATE - Twitter",
};
---

<PageLayout meta={meta}>
	<div class="my-4 grid justify-center">

	</div>
</PageLayout>
