---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Open YUouTube",
	title: "PIRATE - YouTube",
};
---

<PageLayout meta={meta}>
	<div class="my-4 grid justify-center">

	</div>
</PageLayout>
