---
const isProduction = import.meta.env.PROD;
const hostname = Astro.url.hostname;
const isNetlifyApp = isProduction && hostname.endsWith('netlify.app');
// console.log('Is Production:', isProduction);
// console.log('Hostname:', hostname);
// console.log('Is Netlify App:', isNetlifyApp);
---
<span title="Verified Pirate User - Become A Pirate!">
  {!isNetlifyApp && <svg id="piratebug" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1000 1000" height="3rem" width="3rem" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1.43765,0,0,1.43765,-29.1195,-242.471)">
        <g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M481.31,103.41C484.19,102.43 487.1,104.3 490.01,104.07C498.75,105.79 507.96,103.79 516.34,107.55C529.21,111.74 540.15,119.96 550.29,128.71C561.03,140.77 570.2,155.46 570.95,172.01C570.94,177.34 572.6,182.58 571.73,187.93C570.03,201.33 571.71,215.59 566.34,228.31C565.06,231.85 561.29,233.44 558.13,234.91C553.37,226.07 561.04,212.15 551.18,205.85C550.19,215.24 547.88,224.52 547.95,234.01C546.72,237.36 548.5,240.27 550,242.97C553.24,247.08 559.11,247.05 563.24,249.76C568.44,253.02 565.48,260.48 562.33,264.3C555.3,274.21 542.32,276.29 532,281.02C522.48,284.91 520.14,296.65 510.99,300.98C500.39,306.78 487.69,306.02 476,306.03C463.32,306.24 449.27,304.47 439.72,295.28C436.41,289.74 432.75,284.41 427.69,280.32C418.17,276.13 408.06,273.24 399.02,267.96C392.47,264.11 388.22,256.82 390.21,249.23C394.2,244.03 402.08,244.42 405.71,238.74C409.11,226.31 404.41,213.52 406.86,201.01C405.62,191.13 411.17,182.9 415.65,174.71C417.32,164.46 422.93,155.65 426.05,145.94C416.92,147.75 413.02,157.16 409.9,164.96C406.57,172.82 401.57,180 399.42,188.34C398.32,202.51 399.48,216.76 398.9,230.95C398.58,233.3 396.05,236.81 395,231C388.28,221.89 388,210.08 386.65,199.29C383.95,179 388.61,157.41 400.76,140.77C409.84,130.14 418.7,118.71 431.99,112.99C446.99,104.37 464.93,106.47 481.31,103.41M440.34,196.43C429.49,198.48 420.93,207.75 419.46,218.64C417.91,227.61 416.69,237.92 422.17,245.83C426.36,250.44 432.89,250.76 438.66,249.57C448.56,247.04 457.47,240.54 462.92,231.94C468.8,224.47 469.62,212.95 463.78,205.22C458.22,198.59 448.99,194.58 440.34,196.43M512.34,196.48C501.78,198.67 490.75,205.54 488.99,217C489.64,226.97 495.39,235.83 502.18,242.82C506.39,247.38 512.07,250.7 518.29,251.5C528.2,251.25 537.82,243.89 539.73,234.02C537.37,225.83 538.83,216.41 533.93,209.07C530.07,201.06 521.3,195.48 512.34,196.48M476.23,236.19C472.63,239.24 471.12,243.93 469.05,248.02C465.64,257.24 462.46,267.07 463.01,277.03C466.16,277.32 468.98,275.73 471.9,274.83C478.09,272.29 484.66,276.21 490.99,275.98C489.31,269.06 489.24,261.82 486.94,255.01C484.69,249.25 484.87,242.69 481.69,237.31C480.08,236.25 478.14,235.53 476.23,236.19Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M184.15,157.89C193.41,168.99 198.91,183.31 209.24,193.76C223.1,208.25 236.05,223.63 249.24,238.76C259.23,251.34 272.27,261.16 282.26,273.75C289.25,280.74 296.2,287.79 303.27,294.7C325.57,312.07 347.81,329.51 370.07,346.94C391.82,365.16 416.61,379.19 440.34,394.61C448.79,398.62 457.71,401.62 466.01,405.99C489.58,418.47 514.72,427.65 540.04,435.83C558.79,440.88 577.4,446.52 596.08,451.87C602.52,453.91 609.89,452.54 615.82,456.27C615.8,456.62 615.77,457.34 615.75,457.7C608.72,461.96 601.11,465.48 592.97,466.94C575.43,468.66 559.01,460.96 543,455C499.99,438.48 457.92,419.42 417.34,397.61C405.17,389.87 392.72,382.51 381.29,373.68C374.72,367.78 367.25,360.94 357.87,361.01C382.85,386.55 413.99,405.35 445.84,421.22C484.87,439.83 525.16,455.63 565.34,471.55C573.52,475.61 583.11,476.08 590.78,481.22C593.65,483.36 594.95,486.71 595.93,490.04C591.33,490.39 586.76,489.83 582.33,488.6C558.78,483.29 534.82,479.21 512.08,470.88C490.61,463.36 469.8,454.16 449.04,444.89C410.7,427.87 375.38,404.81 340.92,381.07C324.03,367.72 308.91,352.35 292.05,338.96C264.84,314.85 242.66,285.76 221.96,256.02C209.11,236.66 197.02,216.45 189.55,194.34C186.06,186.71 184.47,178.34 183.87,170.01C182.67,166.02 183.7,161.92 184.15,157.89Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M775.39,164.48C776.26,163.11 776.38,166.37 776.78,166.99C775.27,182.04 769.63,196.12 764,210C760.03,221.54 752.02,230.98 747,242C732.36,271.89 712.97,299.9 687.31,321.36C672.19,336.29 656.51,350.59 640.06,364.06C627.19,375.58 611.8,383.65 598.05,394.04C580.12,405.71 562.15,417.7 542.65,426.61C533.67,426.95 525.53,421.32 517.02,418.89C528,411.06 540.57,405.29 552.06,398.09C563.26,390.9 575.64,385.51 585.91,376.9C587.6,373.98 590.59,371.48 591.07,368C581.08,368.37 573.19,376.28 564.95,380.96C548.86,390.29 532.5,399.18 516.37,408.44C512.86,410.93 508.65,412.08 504.7,413.67C502.62,414.63 500.84,412.66 498.99,412.03C494.99,409.82 489.61,409.38 487.01,405.27C506.51,396.66 525.65,387.25 544.67,377.62C593.33,347.08 639.28,312.25 682.79,274.79C714.35,238.69 746.57,202.91 775.39,164.48Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M417.22,294.14C426.61,296.47 433.51,306.05 434.46,315.65C435.35,322.72 434.07,330.58 437.99,337.01C444.07,349.03 458.3,353.85 471,354.13C483.43,356.2 497.18,355.18 507.82,347.8C519.06,336.7 515.9,319.23 523.05,306.03C525.92,299.6 533.62,297.82 539.91,296.96C539.22,304.27 538.5,311.54 536.59,318.66C534.26,327.24 536.57,336.51 532.66,344.72C528.8,352.75 523.24,359.81 517.79,366.79C512.05,372.83 504.94,379.39 496.01,378.93C480.64,378.66 464.82,382.5 449.91,377.18C437.47,373.13 434.11,359.01 425.21,350.79C419.41,345.55 416.98,337.68 417.07,330.01C417.5,318.36 414.94,306.83 416.15,295.19C416.41,294.93 416.95,294.4 417.22,294.14Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M451.27,308.21L455.81,308.06C456.75,312.25 458.04,316.92 455.81,320.89C448.81,322.78 445.08,311.35 451.27,308.21Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M498.16,308.32C499.71,308.61 501.25,308.92 502.8,309.24C504.23,313.42 503.67,318.44 500.83,321.92C495.34,321.61 497.37,312.75 497.11,309.19C497.37,308.98 497.9,308.54 498.16,308.32Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M476.23,309.44C478.98,309.55 482.47,312.56 480.01,316C481.9,319.31 479.58,321.09 477.74,322.82C472.49,325.77 471.65,320.18 471.01,317C471.77,313.96 472.19,309.36 476.23,309.44Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M462.21,310.09C467.15,308.5 469.97,315.08 469.02,319.02C469.48,323.43 463.98,321.93 461.01,321.99C460.59,317.95 460.94,313.92 462.21,310.09Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M485.13,310.03C492.34,306.92 491.64,316.33 492.03,320C492.47,324.43 486.98,322.93 484,322.99C483.54,318.6 484.42,314.31 485.13,310.03Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M448.96,336.97C453.72,336.54 457.86,341.34 457.01,346C450.33,348.45 449.48,341.3 448.96,336.97Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M459.97,338C461.88,339.18 466.32,336.51 467.89,339.23C469.04,342.76 467.38,347.44 464.04,349.06C460.86,346.56 460.18,341.87 459.97,338Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M492.24,338.19C496.54,336.89 499.78,342.71 497.05,346.03C495.82,347.58 494.52,350.23 492.21,349.9C490.94,346.28 488.02,340.78 492.24,338.19Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M474.17,339.09C476.65,338.47 479.02,339.67 480.92,341.18C481.97,344.96 479.03,351.67 474.24,349.81C470.41,347.47 471.58,342 474.17,339.09Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M283.31,403.32C289.38,402.34 296.38,402.21 300.83,407.17C307.13,416.43 306.15,428.54 312.04,437.97C319.73,450.97 332.93,460.09 346.92,465.22C346.27,471.66 343.25,477.66 342.03,484C343.92,494.94 350.92,504.93 360.66,510.35C369.36,514.03 378.18,507.16 386.76,510.28C389.01,513.08 391.04,517.45 388.81,520.85C384.3,529.38 372.6,530.42 364.04,529.96C345.71,525.91 327.77,513.01 322.51,494.27C319.26,488.18 322.87,480.69 319.3,474.7C316.33,470.13 312.46,466.22 308.37,462.66C301,454.3 297.17,443.7 292,433.99C287.75,425.34 279.16,419.53 270.1,416.81C272.58,410.73 277.1,405.66 283.31,403.32Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M655.31,415.31C661.79,414.2 670.12,414.95 674.02,420.99C675.27,423.62 678.73,425.73 678.89,428.78C673.57,430.34 668.65,432.84 664.35,436.38C651.74,449.88 646.04,468.64 631.72,480.71C629.74,481.95 629.09,484.25 628.43,486.32C627.63,494.24 626.41,502.21 623.62,509.69C617.19,523.23 603.01,531.21 589.08,535.11C581.82,536.19 574.03,538.52 567.03,534.99C562.67,533.13 557.4,531.02 556.08,525.93C554.05,522.29 556.36,517.45 560.3,516.29C567.58,515.45 573.75,520.68 581,520C592.32,517.63 603.4,509.79 606.03,498.02C609.58,489.29 601.03,482.23 600.09,474.21C610.36,471 620.58,465.95 627.01,457.01C633.97,449.72 635.18,439.36 639.58,430.66C642.27,423.47 648.57,418.48 655.31,415.31Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M405.31,431.35C406.37,430.87 407.38,430.97 408.34,431.63C414.22,435.07 419.81,439.01 425.8,442.3C424.57,445.83 418.63,444.23 415.96,446.02C408.14,449.27 399.83,450.77 391.98,453.92C382.52,455.4 373.63,459.61 364.01,460.11C355.62,462.57 347.21,457.76 340.05,453.93C337.54,452.09 333.31,450.7 332.99,447.19C357.19,442.4 381.6,438.33 405.31,431.35Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M438.3,448.38C446.17,450.89 453.75,455.59 461.87,458.21C461.88,458.6 461.9,459.37 461.92,459.76C456.57,460.93 451.56,463.18 446.68,465.59C414.81,473.39 382.97,483.21 349.91,483.96C351.24,479.84 353,475.1 357.19,473.18C364.41,468.66 372.91,467.05 381.07,465.02C400.22,459.73 419.37,454.35 438.3,448.38Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M227.34,450.51C232.87,449.54 239.2,449.9 243.99,453.13C242.17,455.93 238.31,458.08 239.02,461.98C240.87,468.94 246.65,477.06 242.22,484.23C239.03,490.82 230.22,491.29 224.06,488.92C216.58,486.27 211.96,478.81 211.68,471.07C209.82,461.38 216.83,450.31 227.34,450.51Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M270.35,457.59C278.34,455.96 286.83,457.08 294.03,460.94C301.46,464.51 307.34,472.29 306.02,480.96C293.97,480.53 282.02,482.16 270,482.08C265.13,483.42 259.23,483.07 255.15,479.83C251.51,473.81 248.8,467.28 246.34,460.71C244.76,458 250.78,456.32 251.99,458.01C258.09,457.71 264.28,458.54 270.35,457.59Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M712.35,463.53C721.85,461.52 732.01,467.94 734.75,477.12C738.45,488.56 729.77,503.64 716.99,503.01C708.93,505.1 700.96,496.58 703.72,488.89C704.94,482.55 709.11,477.22 710.92,471.17C708.07,468.92 704.59,467.57 701.85,465.23C705.37,464.74 708.82,464.08 712.35,463.53Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M674.35,470.59C681.49,469.62 688.75,469.89 695.96,470.07C699.13,471.09 703.08,473.71 700.92,477.95C699.61,482.23 697.4,486.17 694.75,489.78C690.78,495.44 682.95,493.84 677,493.91C665.09,491.39 652.58,495.25 640.98,490.95C641.27,483.35 646.84,477.14 652.27,472.3C659.47,470.3 667.02,471.59 674.35,470.59Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M253.27,487.32C253.7,487.22 254.56,487.02 254.99,486.92C255.45,495.75 245.31,500.19 237.95,502.05C240.18,495.13 247.02,490.53 253.27,487.32Z" style="fill-rule:nonzero;"/>
            </g>
            <g transform="matrix(1,0,0,1,-112,181)">
                <path d="M693.22,500.13C696.16,499.16 697.77,502.77 699.77,504.23C701.99,506.64 705.12,507.71 707.96,509.15C708.98,514.76 701.14,515.27 698.22,511.76C695.46,509.07 689.32,504.2 693.22,500.13Z" style="fill-rule:nonzero;"/>
            </g>
        </g>
    </g>
  </svg>}
</span>


